wp-content/cache/
wp-content/upgrade/
wp-content/backups/
wp-content/backup*/
wp-content/ai1wm-backups/
wp-content/updraft/
wp-content/w3tc-config/
*.log
error_log

.vscode/
.idea/
.DS_Store
node_modules/
vendor/

wp-content/uploads/*
wp-content/uploads/**/*
wp-includes/
wp-admin/

!wp-content/uploads/2025/
!wp-content/plugins/**/vendor/